<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />


    <!-- Bootstrap files -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>

    <!-- Google Fonts CDN -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap"
        rel="stylesheet" />

    <!-- FontAwesome CDN -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Custom CSS -->
    <link rel="stylesheet" href="kauch.css">
    <link href="/dist/output.css" rel="stylesheet">
    <link rel="stylesheet" href="{{url_for('static',filename='style.css')}}">
    
</head>

<body>

    <!-- NavBar -->
    <nav class="navbar navbar-container nav-container">
        <input type="checkbox" name="" id="">
        <div class="hamburger-lines">
            <span class="line line1"></span>
            <span class="line line2"></span>
            <span class="line line3"></span>
        </div>
        <div class="logo" id="logo-img">
            <a><span class="verify">Verify</span><span class="now">Now</span></a>
        </div>
        <ul class="menu-items">
            <li id="nav-item"><a>About</a></li>
            <li id="nav-item"><a>Feature</a></li>
            <li id="nav-item"><a>Home</a></li>
        </ul>
        </div>
    </nav>

    <!-- Section Image -->
    <div class="section-image-parent-div">
        <div class="section-image">
            <p>Facts, not <span class="fiction">fiction</span>.</p>
        </div>
    </div>

    <!-- Description -->
    <div class="description">
        <p>
            A website that uses advanced algorithms and fact-checking techniques to detect and flag false or misleading
            news stories and articles. These websites aim to counter the spread of misinformation and provide accurate
            information to the public.
        </p>
    </div>

    <div class="featureTitle">
        <p> Feature </p>
    </div>


    <div class="cardContainer">
            <div class="card" style=" background-image: url('{{url_for('static',filename='Card 1 BG.png')}}');">
                <a href=""><h2>Clipboard <b>Verify</b></h2>
                <p>This feature that ensures that the text or information copied to the clipboard is authentic and accurate.
                    It uses various techniques, such as source verification and fact-checking, to confirm the veracity of
                    the information before it is copied to the clipboard.</p></a>
            </div>
            <div class="card" style=" background-image: url('{{url_for('static',filename='Card 2 BG.png')}}');">
                <h2>Read <b>Verify</b></h2>
                <p>Read verified is a feature that guarantees the accuracy and authenticity of the information presented to
                    the user. It uses various techniques such as source verification, fact-checking, and content validation
                    to ensure that the information is reliable and trustworthy.</p>
            </div>
            <div class="card" style=" background-image: url('{{url_for('static',filename='Card 3 BG.png')}}');">
                <h2>Scan <b>Verify</b></h2>
                <p>Scan verified is a feature that allows users to quickly and easily verify the authenticity of a document
                    or item by scanning it using their device's camera. This feature uses advanced technologies, such as
                    image recognition and optical character recognition (OCR), to compare the scanned item with verified
                    sources and databases to ensure that it is legitimate and not counterfeit or altered in any way.</p>
            </div>
            <div class="card" style=" background-image: url('{{url_for('static',filename='Card 4 BG.png')}}');">
                <h2>Extension <b>Verify</b></h2>
                <p>Some text</p>
            </div>
    </div>

    <div class="About">
        <p style="font-size: 3rem; color: aliceblue;">About</p>
        <p class="para">Welcome to our website, where we use cutting-edge technologies such as machine learning (ML),
            artificial intelligence (AI), and natural language processing (NLP) to provide you with reliable and
            accurate news and information. Our team of experts has developed advanced algorithms that analyze and verify
            sources, check facts, and detect bias, ensuring that only credible and trustworthy information is presented
            to you. Our goal is to empower you with the knowledge you need to make informed decisions, while helping to
            combat the spread of misinformation and fake news. We are committed to providing a transparent and unbiased
            approach to news and information, and we invite you to join us in our mission to promote truth and accuracy
            in journalism.</p>
    </div>
</body>

<footer>
    <div class="footer">
        <ul>
            <li class="ulli"><a href="#">Contact Us</a></li>
            <li class="ulli"><a href="#">Email</a></li>
        </ul>
        <p class="paraFooter">2023 VerifyNow | All Rights Reserved</p>
    </div>
</footer>

</html>